DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Database selection: sqlite or postgres
DB_ENGINE=sqlite
SQLITE_PATH=./db.sqlite3

POSTGRES_DB=budgetiq
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

FASTAPI_PARSE_URL=http://127.0.0.1:8001/parse-pdf
LOG_LEVEL=INFO
