.venv/
venv/
smartbudget/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
.env.*
!.env.example

smartbudget/db.sqlite3
database/connection/*.db

IO/
temp/
*.pdf
*.xlsx
*.csv

.vscode/
dist/
build/
pytest-cache-files-*/
notebook
